.calendarContainer{
    width: 30vw;
    padding-top: 15vh;
    margin-left: 35vw;
    margin-right: 35vw;
    // border: 5px solid red;
}

.monthHeader{
    display: flex;
    padding-bottom: 5vh;
    margin-left: 35%;
    // margin-right: 30%;
}

.prevMonth{
    cursor: pointer;
    font-size: 25pt;
    position: absolute;
    margin-left: -160px;
    color: black;
    
}

.nextMonth{
    cursor: pointer;
    font-size: 25pt;
    position: absolute;
    margin-left: 340px;
    color: black;
    
}

.month{
    font-size: 35pt;
    text-align: center; 
    /* flex-grow: 1; */
    float: lfet;
}

.weekDayContainer{
    margin-right: 80vw;
    
}
.weekDay{
    color: black;
    font-size: 15pt;
    padding-left: 40px;
    padding-bottom: 20px;
    font-weight: 700;
}

.date{
    padding-left: 20px;
    padding-bottom: 30px;
    text-align: center;
    
    a[href$="/null"] {
        background-color: none;
        pointer-events: none;
    }

    a{
        display: block;
        text-decoration: none;
        color: black;
        padding: 20px;
        transition: 0.3s;
        border-radius: 20%;
       
    
        &:hover{
            background-color: green;
            color: white;
        }
    }
}