table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    border-spacing: 0;
    border-collapse: unset;
}


.calendarContainer{
    width: 50%;
    padding-top: 15vh;
    margin: 0 auto;
    // background-color: red;
}

.monthHeader{
    display: flex;
    padding-bottom: 5vh;
    flex-grow: 1;
    font-size: 5vh;
}

.prevMonth{
    cursor: pointer;
}

.nextMonth{
    clear: both;
    cursor: pointer;
}

.month{
    text-align: center; 
    flex-grow: 1;
}

table{
    width: 100%;
}


.weekDayHeading{
    // border: 5px solid green;
    font-size: 2vh;
    font-weight: 700;
    margin-bottom: -2vh;
}

tbody{
    tr{
        height: 10vh;
        
    }
}
td{
    margin-left: 2%;
    width: 14.28%; 
    vertical-align: middle;
    text-align: center;
}

.date{
    margin: 0 auto;
    width: 50%;

    a[href$="/null"] {
        background-color: none;
        pointer-events: none;
    }

    a{
        display: block;
        padding: 20px;
        text-decoration: none;
        color: black;
        transition: 0.2s;
        border-radius: 8px;
       
    
        &:hover{
            background-color: green;
            color: white;
        }
    }
}


@media only screen and (max-width: 850px) {
    .calendarContainer{
        width: 80%;
        padding-top: 12.5vh;
        margin: 0 auto;
        // background-color: red;
    }
    
    .monthHeader{
        font-size: 4vh;
    }

    .weekDayHeading{
        font-size: 2vh;
    }

    .date{
        font-size: 2vh;
    }
}



@media only screen and (max-width: 500px) {
    .calendarContainer{
        width: 95%;
        padding-top: 12.5vh;
        margin: 0 auto;
        // background-color: red;
    }
    
    .monthHeader{
        font-size: 4vh;
    }

    .weekDayHeading{
        font-size: 2vh;
    }

    
    .date{
        font-size: 2vh;

        margin: 0 auto;
        width: 50%;
    
        a[href$="/null"] {
            background-color: none;
            pointer-events: none;
        }
    
        a{
            display: block;
            padding: 10px;
            padding-right: 20px;
            text-decoration: none;
            color: black;
            transition: 0.2s;
            border-radius: 8px;
           
        
            &:hover{
                background-color: green;
                color: white;
            }
        }
    }
}
