body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  background: linear-gradient(
    to bottom, 
    #f1f1f1,
    rgb(194, 214, 200),
    rgb(108, 161, 119)
    );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Home
.simple-data-container {
  position: relative;
  width: 100%;
  min-height: 200px;
  height: 20vh;
}
