.plant-list-container
{
    color: rgb(73, 73, 73);
    text-align: center;
    ul
    {
        list-style: none;
        padding: 0;
        margin: 0 auto 70px auto;
        width: 100%;
        min-width: 300px;

        li 
        {
            text-align: left;

            h2
            {
                font-size: 18px;
                width: 80%;
                display: inline-block;
                margin-left: 10px;
            }

            .arrow
            {
                cursor: pointer;
                display: inline-block;
                transition: 0.5s;

                &:hover
                {
                    transform: rotate(90deg);
                }
            }
        }

        .active-item
        {
            .arrow
            {
                cursor: pointer;
                display: inline-block;
                transition: 0.5s;

                &:hover
                {
                    transform: rotate(-90deg);
                }
            }
        }
    } 
}