.temperature-container
{
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: rgb(112, 112, 112);

    h1
    {
        font-size: 30px;
        line-height: 2rem;
        font-weight: normal;
        padding: 0;
        margin: 0 0 25px 0;
    
        span
        {
            color: rgb(73, 73, 73);
            font-size: 48px;
            position: relative;
            top: 10px;
        }
    }

    h2, h3
    {
        line-height: 5px;
        font-weight: normal;
        font-size: 19px;
    }
}
