.weather-cards-container {
    ul {
        padding: 0;
        margin: 0;
        width: 100%;
        list-style: none;
        text-align: center;

        li {
            text-align: left;
            font-size: 14px;
            display: block;
            margin: 15px auto 15px auto;
            padding: 20px;
            width: 50%;
            min-width: 250px;
            max-width: 500px;
            box-shadow: inset 7px 7px 15px -8px rgba(0,0,0,0.37);
            background-color: rgb(182, 239, 198);
            border-radius: 10px;

            p {
                margin: 0;
                padding: 0;
                display: inline-block;
            }

            span {
                float: right;
            }
        }
    }
}