.wind-container
{
    position: absolute;
    top: 50px;
    left: 50px;
}

%windText
{
    color: rgb(112, 112, 112);
    font-weight: normal;
    text-align: center;
    padding: 0;
    margin: 0;
}

h1
{
    @extend %windText;
    font-size: 30px;
    line-height: 2rem;
}

h2
{
    @extend %windText;
    font-size: 18px;
}