
.calendarContainer{
    margin: 40vh auto;
    max-width: 400px;
    border-style:  solid;
    border-color: green;

}

.weekdayContainer{
    display: flex;
}

.weekday{
    display: block;
    flex: 1 0 0;
}

.week{
    display: flex;
}

.day{
    display: block;
    flex: 1 0 0;
    width: 14.28%;
}

.emptyDay{
    display: block;
    flex: 1 0 0;
    width: 14.28%;
    border: 1px solid black;
}

.emptyDay + .emptyDay, 
.emptyDay + .day{
    margin-left: 1px;
}
